.lessons {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 10% 90%;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-align: center;
}

.lessons h2 {
    display: grid;
    grid-column: 1/3;
    grid-row: 1/2;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 400%;

}

.lessons_img {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: url(../images/lessons/lessons_fon.png);
    background-repeat: no-repeat;
    background-size: 82%;
    background-position-x: 88%;
    background-position-y: 83%;

}

.lessons_img img {
    width: 55vw;
    height: 62vh;
    padding: 7%;
    margin-left: 8%;
    margin-top: 7%;
    
}

.lessons_text {
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    text-decoration: none;
    margin-top: 7%;
}

.lessons_text ul {
    display: grid;
    list-style-type: none;
    justify-content: start;
    align-content: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 200%;
    text-align: center;
}
.lessons_text ul li {
    margin-top: 5%;
    padding-right: 15%;
}
.lessons2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 90%;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 100%;
    text-align: center;
}

.lessons2 .video {
    display: grid;
}

.lessons2 .teoria {
    display: grid;
    height: 100vh;
    grid-column: 2/3;
    grid-template-columns: 15% 40% 15%;
    grid-template-rows: 10% 90%;
    font-weight: 600;
}

.lessons2 .teoria .conspect_img {
    display: grid;
    width: 20vw;
    grid-column: 2/3;
    grid-row: 2/3;
}

.lessons2 .teoria .conspect {
    display: grid;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 2/3;
}


.lessons2 .teoria .button_left {
    display: grid;
    justify-self: end;
    align-content: center;
    grid-column: 1/2;
    width: 25vh;
    grid-row: 2/3;
}
.lessons2 .teoria .button_left a{
    justify-content: end;
}

.lessons2 .teoria .button_left a img {
    display: grid;
    width: 25%;

}
.lessons2 .teoria .button_right {
    display: grid;
    align-items: center;

    width: 5vh;
    grid-column: 3/4;
    grid-row: 2/3;
}

.lessons2 .teoria .button_right a img {
    width: 25%;
}

.lessons2 .teoria h2 {
    display: grid;
    grid-column: 1/4;
    grid-row: 1/2;
    font-weight: 600;
}